export SK_DKR_HOTSITE='my)i0=zfrk_rw4&i7tds1n$no)^*_3o-m_u2n^#@9zu9x6al3*'

# Sendgrid
export DKR_SG_API_KEY='API_KEY_HERE' # might be generated here: https://app.sendgrid.com/settings/api_keys
export DEFAULT_TO_EMAIL='receiver@domain.com' # must be an allowed email related to the API_KEY above
export DEFAULT_FROM_EMAIL='sender@domain.com' # must be an allowed email related to the API_KEY above
