@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('/static/images/bg-1-compressed.jpg');
}

.container {
  background-color: #ebebeb;
  margin: 80px auto;
  padding-bottom: 30px;
  padding-top: 10px;
  width: 60%;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

/* HEADER */
.header-title {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3em;
}

.header-name {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 2em;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: 0.7em;
}

.language-form {
  float: right;
}

.go-btn {
  margin-top: 10px;
  display: block;
  border-radius: 15px;
  float: right;
}

.language-choice {
  margin: 30px 20px 0 0;
}

/* FOOTER */

.footer-div {
  margin: 50px 20%;
}

.footer-info * {
  margin-bottom: 5px;
}


@media screen and (max-width: 768px) {
    .container {
      width: 83%;
      margin-top: 50px;
    }
    .language-choice {

      float: left;

    }
    .language-form {
      float: left;
      display: inline-block;
      width: 30%;
    }
    .go-btn {
      float: left;
      display: inline;
      margin-top: 10px;
    }
  }

  /* .idioms .nav-link {
    border-radius: 5px;
    padding: 3px 8px;
    margin-left: 6px;
    border: 1px solid #36382e;
  }

  .idioms {
    font-size: 0.7em;
    margin-top: 25px;
  }

  .idioms .nav-link {
    background-color: #36382e;
    color: #fff;
  }

  .idioms .nav-link:hover {
    background-color: #ebebeb;
    color: #36382e;
  } */
