@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  width: 100%;
  background-attachment: fixed;
  background-size: cover;

  background-image: url('/static/images/bg-1-compressed.jpg');
}

.container {
  background-color: #ebebeb;
  margin: 100px auto;
  padding-bottom: 30px;
  padding-top: 10px;
  width: 60%;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

/* HEADER */
.header-title {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 3em;
}

.header-subtitle {
  text-transform: uppercase;
  font-size: 0.7em;
}

.idioms .nav-link {
  border-radius: 5px;
  padding: 3px 8px;
  margin-left: 6px;
  border: 1px solid #36382e;
}

.idioms {
  font-size: 0.7em;
  margin-top: 25px;
}

.idioms .nav-link:hover {
  background-color: #36382e;
  color: #fff;
}

/* MAIN */
.tab-content {
  margin-top: 7%;
}

.nav-link {
  color: #36382e;
}

.nav-tabs .nav-link.active {
  background-color: #36382e;
  color: #fff;
}

.section_title {
  color: #36382e;
  margin-bottom: 50px;
  font-size: 2.5em;
}




/* HOME */





/* ACCOMMODATIONS */





/* INSCRIPTION */

.form {
  padding: 0 3%;
}

.custom-controls-stacked * {
  display: inline;
}

.form-check-boxes {
  margin-left: 15px;
}

.form_text_area {
  height: 150px;
}

.form_section_title {
  margin: 30px auto 20px;
}

.list-group-item {
  background-color: #f2f2f2;
}

.payment_form {
  margin: 30px auto 50px;
}

.payment_section {
  display: none;
}

.cielo_img {
  margin: 25px 0 15px;
}

.cancel_terms {
  margin-top: 43px;
}

.btn-holder {
  margin-top: 30px;
}
