.section_title {
  color: #36382e;
  margin-bottom: 50px;
  font-size: 2.5em;
}

.form-sent-header {
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}

.form-sent-body {
  font-size: 1.8em;
  text-align: center;
}

.margin-bottom {
  margin-bottom: 100px;
}

.form_section_title {
  margin: 30px auto 20px;
}

.checkbox-inline * {
  display: inline;
}

.inline {
  display: inline;
}

.indent {
  text-indent: 28px;
}

.quote-right {
  font-size: 1.3;
  text-align: right;
  margin-right: 10%;
}

.form-check-boxes {
  margin-left: 15px;
}

.checkbox{
  margin-bottom: 30px;
}

.font-large {
  font-size: 1.5em;
}

.payment_form {
  margin: 30px auto 50px;
  display: run-in;
}

.payment_section {
  display: none;
  border: 1px dashed grey;
  padding: 20px;
}

.padding {
  margin-left: 3%;
}

.logo-paypal{
  max-width: 150px;
  margin: 20px 0 30px 15px;
  display: inline;
}

#payment-child {
  display: none;
}
