<!DOCTYPE html>

{% load static %}

{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khandro Sangdu Drubchen</title>
    <link rel="icon" type="image/png" href="{% static 'images\logo.png' %}" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.js'%}"> -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra-head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row justify-content-between">
          <div class="col-md-8 header-text">
            <h1 class="header-title">{% trans "Khandro Sangdu Drubchen" %}</h1>
            <h2 class="header-name">{% trans "<em>with</em> Dzongsar Khyentse Rinpoche" %}</h2>
            <h4 class="header-subtitle">{% trans "Chagdud Gonpa Khadro Ling, Brazil" %}</h4>
            <h4 class="header-subtitle">{% trans "December 27th, 2018-January 4th, 2019" %}</h4>
          </div>
          <div class="col-md-2 language-choice">
            <form class="language-form" action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ redirect_to }}">
              <select class="custom-select" name="language">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                  <option value="{{ language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.code }}
                  </option>
                {% endfor %}
              </select>
              <input class="go-btn btn btn-dark" type="submit" value="Go">
            </form>
          </div>
        </div>

      </header>
      <hr>

      {% block body_block %}
      {% endblock %}

      <hr class="footer-div">

      <footer>
        <div class="row justify-content-md-center">
          <div class="col-md-5 text-center footer-info">
            <p>
              <a href="https://chagdud.com.br/" target="_blank">Chagdud Gonpa Khadro Ling</a>
            </p>
            <p>Estr. Linha Águas Brancas, 1211 Cx. Postal 121</p>
            <p>CEP 95660-000 - Três Coroas, RS</p>
            <p>(51) 3546-8201</p>
            <p>{% trans "comunicacao@templobudista.org" %}</p>
          </div>
        </div>
      </footer>

    </div>
  </body>
</html>
