<!DOCTYPE html>

{% extends "base.html"%}
  {% load static %}
  {% load i18n %}

  {% block extra-head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}

  {% block body_block %}

    <main>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="accomodation-tab" data-toggle="tab" href="#accommodation" role="tab" aria-controls="accommodation" aria-selected="false">{% trans "Accommodations" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="transportation-tab" data-toggle="tab" href="#transportation" role="tab" aria-controls="transportation" aria-selected="false">{% trans "Transportation" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="information-tab" data-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">{% trans "General information" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="registration-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="false">{% trans "Registration" %}</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">

        <!-- HOME -->
        <div class="tab-pane fade show active padding-sides" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="quote">
            <p class="quote-line font-italic">{% trans "Emanations of the body, speech, mind, qualities and activity of all the sugatas" %}</p>
            <p class="quote-line font-italic">{% trans "Pervasively appear in the three levels of the world," %}</p>
            <p class="quote-line font-italic">{% trans "Unobstructedly granting accomplishments of action and wisdom—" %}</p>
            <p class="quote-line font-italic">{% trans "I praise the deities of the maṇḍala of gathered ḍākinīs." %}</p>
          </div>

          <p class="indent">
            {% trans "At the age of 13, the female terton Jomo Menmo, an incarnation of Yeshe Tsogyal, discovered the hidden treasure teaching of the <em>Khandro Sangwa Kündü, the Gathering of the Dakini’s Secrets</em>. Through its practice, in the year 1283, she achieved the rainbow body at the age of 36." %}
          </p>
          <p class="indent">
            {% trans "Then, as recounted by His Holiness Dudjom Rinpoche in his <em>History of the Nyingma School of Tibetan Buddhism</em>: “This great secret which is so amazing, remained in the possession of the ḍākinīs for some time, and was beyond the reach and range of ordinary persons. The time to train beings by means of it came later in this age of strife, when, by the power of compassion and enlightened aspirations, the transmission of its words and meaning fell to the treasure finder Padma Ösel Do-ngak Lingpa (Jamyang Khyentse Wangpo, 1820-1892). This is because, first and foremost, during his past life as Guru Chökyi Wangchuk, one of the five great terton kings, Jomo Menmo had been his secret friend, and also due to his being blessed by the ḍākinīs of pristine cognition...”" %}
          </p>
          <p class="indent">
            {% trans "This practice of Vajravārāhī is one of the most beautiful and elaborated among ḍākinī sādhanas and is renowned for it’s power to restore the degeneration of the elements—earth, water, air and the others, and to quell the ravages of disease, famine and war. Due to its short lineage of transmission, in our present times the blessings of this practice remain fresh and potent. Dzongsar Khyentse Rinpoche will bestow the ripening empowerment." %}
          </p>
          <h5 class="home-subtitle font-weight-bold">{% trans "Requirements for participation" %}</h5>
          <p class="indent">
            {% trans "One must be engaged in Vajrayana Buddhist practice to attend the Khandro Sangdü Drubchen. Although numerous measures and commitments establish the foundation for Vajrayana, perhaps the clearest are the four practice authorizations one receives through the four initiations<sup>1</sup> given in an inner tantra<sup>2</sup> empowerment. If you have received such an empowerment and have maintained your respect and devotion to the qualified Vajra lineage holder who bestowed the transmission, you have fulfilled the requirement to attend. Empowerment into Guru Rinpoche, especially from a Treasure Teaching, is particularly auspicious." %}
          </p>
          <p class="indent">
            {% trans "At the time of the registration, please indicate the name of at least one empowerment you have received and the lama who bestowed it. " %}
          </p>
          <p class="indent">
            {% trans "This program is mainly for students who are inclined to practice the sadhana. So please take your time and consider if you are ready to uphold and practice the Vajrayana, according to the requirements set forth above." %}
          </p>
          <hr>
          <ol class="text-reference">
            <li>{% trans "Vase, secret, mind, and precious word initiations, each of which have a corresponding practice authorization." %}</li>
            <li>
              {% trans "The three inner vehicles of Vajrayana are Maha, Anu, and Ati Yoga, and all empowerments given in Chagdud Gonpa are inner tantras. The three outer Vajrayana vehicles of Kriya, Charya, and Yoga Tantra also involve empowerment, but do not fulfill the requirement for this Drubchen. If you wish to attend, you should receive a inner tantra empowerment before December." %}
            </li>
          </ol>
        </div>


        <!-- ACCOMMODATIONS -->
        <div class="tab-pane fade padding-sides" id="accommodation" role="tabpanel" aria-labelledby="profile-tab">
          <h2 id="teste"  class="text-center section_title">{% trans "Accommodations / Transportation" %}</h2>
          <h3 class="font-weight-bold text">{% trans "Accommodations" %}</h3>
          <p>{% trans "During this drubchen Khadro Ling will not provide accommodations for participants. However, to facilitate arrangements we have contacted hotels in the area so that everyone will be able to find a suitable place to stay. The hotels and hostels listed below have different rates to suit different needs. We recommend the Ibis Hotel or Ecoland for English speakers." %}</p>
          <h5>{% trans "Check-in" %}</h5>
          <p>{% trans "Please be sure to arrive at your place of lodging by December, 26th. The event will start on the 27th, and the time is yet to be confirmed." %}</p>
          <h5>{% trans "Check-out:" %}</h5>
          <p>
            {% trans "Drubchen will finish on January, 4th, 2019. That evening there will be a party to celebrate the event. We suggest you schedule your check-out for January, 5th." %}
          </p>
          <h5>{% trans "Please note:" %}</h5>
          <p>
            {% trans "As the drubchen is scheduled during a high tourist season in the region, we suggest that participants make hotel reservations without delay." %}
          </p>
          {% if user_language != "pt-br" %}
          <h5>{% trans "Contact info:" %}</h5>
          <p class="margin-bottom">{% trans "If you have any questions about this event or logistics, feel free to contact events manager Tsering at <span class='font-italic'>comunicacao@templobudista.org</span>" %}</p>
          {% endif %}
          <h4 class="underline">{% trans "Hotels and lodgings affiliated with the event:" %}</h4>
          <h5>Três Coroas <a target='_blank' href='https://www.google.com.br/maps/dir/Tr%C3%AAs+Coroas+-+RS/Chagdud+Gonpa+Khadro+Ling+-+R.+%C3%81guas+Brancas+-+Zona+Rural,+Tr%C3%AAs+Coroas+-+RS/@-29.5051586,-50.7664256,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x951925e9f281b4ab:0x6c89883e237c5462!2m2!1d-50.779097!2d-29.5155878!1m5!1m1!1s0x951924e3e62ee177:0x2c76fe743d69fe51!2m2!1d-50.7406202!2d-29.4920421'>{% trans "(how to get to)" %}</a></h5>
          <ul>
            <li class="accommodation-li">
              <a href="https://www.tripadvisor.com.br/Hotel_Review-g675031-d12087559-Reviews-Pousada_Tres_Coroas-Tres_Coroas_State_of_Rio_Grande_do_Sul.html" target="_blank">
                Pousada Três Coroas
              </a>
              {% trans "(simple accommodations)" %}<br>
              contato@pousadatrescoroas.com.br <br>
              +55 51 99995 2662 <br>
              {% trans "Inform the promo code: event DKR" %}<br>
            </li>
          </ul>

          <h5>Igrejinha <a target='_blank' href='https://www.google.com.br/maps/dir/Igrejinha,+RS/Chagdud+Gonpa+Khadro+Ling+-+R.+%C3%81guas+Brancas+-+Zona+Rural,+Tr%C3%AAs+Coroas+-+RS/@-29.5407097,-50.7948752,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x951923b1eac3ce13:0xd7c78e677a32df29!2m2!1d-50.7927755!2d-29.5700426!1m5!1m1!1s0x951924e3e62ee177:0x2c76fe743d69fe51!2m2!1d-50.7406202!2d-29.4920421'>{% trans "(how to get to)" %}</a></h5>
          <ul>
            <li class="accommodation-li">
              <a href="https://ibis.accorhotels.com/brasil/index.pt-br.shtml" target="_blank">Ibis Hotel</a> <br>
              {% if user_language == 'pt-br' %}
                Instruções para a reserva:  <a href="{% static 'files/Guia-portugues.pdf' %}" download >(link para PDF)</a> <br>
              {% elif user_language == 'es' %}
                Instrucciones para la reserva: <a href="{% static 'files/Guide-ingles.pdf' %}" download >(link para PDF)</a> <br>
              {% else %}
                Instructions for booking: <a href="{% static 'files/Guide-ingles.pdf' %}" download >(link to PDF)</a> <br>
              {% endif %}
              {% trans "The promotional code for this hotel is in the instructions pdf." %} <br>
              {% trans "English and Portuguese service" %}
            </li>
            <li class="accommodation-li">
              <a href=" http://www.ecoland.com.br/" target="_blank">Ecoland</a> <br>
              contato@ecoland.com.br <br>
              lazer@ecoland.com.br <br>
              hotel@ecoland.com.br <br>
              +55 51 3545 5500 <br>
              +55 51 98594 3488 (WhatsApp) <br>
              {% trans "English and Portuguese service" %}<br>
              {% trans "Inform the promo code: event DKR" %}<br>

            </li>
          </ul>
          <h5>Taquara <a target='_blank' href='https://www.google.com.br/maps/dir/Taquara,+RS/Chagdud+Gonpa+Khadro+Ling+-+R.+%C3%81guas+Brancas+-+Zona+Rural,+Tr%C3%AAs+Coroas+-+RS/@-29.5714887,-50.8359774,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x951919256d1ed945:0x1a2002b8f5e07da0!2m2!1d-50.7757844!2d-29.6509722!1m5!1m1!1s0x951924e3e62ee177:0x2c76fe743d69fe51!2m2!1d-50.7406202!2d-29.4920421'>{% trans "(how to get to)" %}</a></h5>
          <ul>
            <li class="accommodation-li">
              <a href="http://www.candemilhotel.com.br/" target="_blank">Candemil Hotel</a> <br>
              reservas@candemilhotel.com.br <br>
              {% trans "Inform the promo code: event DKR" %}
            </li>
            <li class="accommodation-li">
              <a href="https://www.facebook.com/pg/hotelehostelraiz/about/?ref=page_internal" target="_blank">Hotel & Hostel Raiz</a> {% trans "(simple accommodation)" %} <br>
              hotelraiz@gmail.com <br>
              +55 51 3541 1484 <br>
              +55 51 99998 2689 <br>
              {% trans "Inform the promo code: event DKR" %}
            </li>
          </ul>
          <h5>São Francisco de Paula <a target='_blank' href='https://www.google.com.br/maps/dir/S%C3%A3o+Francisco+de+Paula,+RS/Chagdud+Gonpa+Khadro+Ling+-+R.+%C3%81guas+Brancas+-+Zona+Rural,+Tr%C3%AAs+Coroas+-+RS/@-29.5054914,-50.6810905,11.82z/data=!4m13!4m12!1m5!1m1!1s0x9518dbc3a85f6585:0xafdcd616de54e9c!2m2!1d-50.5807037!2d-29.445913!1m5!1m1!1s0x951924e3e62ee177:0x2c76fe743d69fe51!2m2!1d-50.7406202!2d-29.4920421'>{% trans "(how to get to)" %}</a></h5>
          <ul>
            <li class="accommodation-li">
              <a href="http://www.villagedaserra.com.br/">Hotel Village da Serra</a> <br>
              village@villagedaserra.com.br <br>
              {% trans "English, German and Portuguese service" %}<br>
              {% trans "Inform the promo code: event DKR" %} <br>
              </li>
            <li class="accommodation-li">
              <a href="http://www.pousadasaochico.com.br/">Pousada São Chico Ecovillage</a> <br>
              contato@pousadasaochico.com.br <br>
              {% trans "English and Portuguese service" %}<br>
              {% trans "Inform the promo code: event DKR" %} <br>
            </li>
            <li class="accommodation-li">
              <a href="http://www.pousadanovohorizonte.com.br/">Pousada Novo Horizonte</a> <br>
              contato@pousadanovohorizonte.com.br <br>
              {% trans "Inform the promo code: event DKR" %} <br>
            </li>
            <li class="accommodation-li">
              <a href="http://pousadarecantodasestrelas.com/">Pousada Recanto das Estrelas</a> <br>
              pousadarecantodasestrelas@yahoo.com.br <br>
              {% trans "Inform the promo code: event DKR" %} <br>
            </li>
          </ul>
          <h4 class="underline">{% trans "Other hotels in the area (not affiliated)" %}</h4>
          <h5>Três Coroas</h5>
          <ul>
            <li class="accommodation-li">
              <a href="https://www.hotelcaminhosdaserra.com.br/">Hotel Caminhos da Serra</a> <br>
              atendimento@hotelcaminhosdaserra.com.br
            </li>
            <li class="accommodation-li">
              <a href="http://pousadaparanhana.com.br/">Pousada Paranhana</a> <br>
              reservas@pousadaparanhana.com.br
            </li>
            <li class="accommodation-li">
              <a href="http://pousada-raiodesol.blogspot.com/">Pousada Raio de Sol</a> {% trans "(simple accommodations)" %} <br>
              Reservas por WhatsApp: +55 51 99829 2652
            </li>
            <li class="accommodation-li">
              <a href="https://www.facebook.com/pg/PousadaRaiodoSolTresCoroas/photos/?ref=page_internal">Pousada Raio de Sol 2</a> {% trans "(simple accommodations)" %} <br>
              raiodesol.pousada@hotmail.com <br>
              +55 51 99616 7554
            </li>
            <li class="accommodation-li">
              <a href="http://pousadacidadeverde.com.br/">Pousada Cidade Verde</a> <br>
              contato@pousadacidadeverde.com.br <br>
              +55 51 99657 0521 <br>
              +55 51 98272 4137
            </li>
          </ul>
          <h5>São Francisco de Paula</h5>
          <ul>
            <li class="accommodation-li">
              <a href="http://paradorhampel.com/">Parador Hampel</a> <br>
              reservas@paradorhampel.com
            </li>
            <li class="accommodation-li">
              <a href="http://www.hoteldasaraucarias.com.br/">Hotel das Araucárias</a> <br>
              reservas@hoteldasaraucarias.com.br
            </li>
          </ul>
        </div>

        <!-- GENERAL INFOMATION -->
        <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="profile-tab">
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">{% trans "Remember to bring personal hygiene products and medications." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Three daily meals are included in the event fee. " %}</li>
            <li class="list-group-item list-group-item-light">{% trans "All sink tap water is potable at Khadro Ling." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Bring your meditation cushion (identified with your name), flashlight, rain gear, sunscreen, hat, insect repellent, comfortable walking footwear and warm clothes." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "Please bring small bank notes for business transactions." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "The weather conditions in this area vary. We suggest that everyone check the weather forecast before arrival." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "At Khadro Ling we do not have computers available for event participant use." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Medications can be ordered for delivery from Três Coroas pharmacies. The phone numbers are posted on the reception message board." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "The nearest banks are located in Três Coroas, Taquara, Gramado and São Francisco de Paula." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Our store accepts Visa, Mastercard and Cielo credit cards." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "Please, do not take dinnerware from dining area to other locations such as shrineroom during event." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "We suggest bringing your own water bottle to avoid plastic waste." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "Smoking is prohibited in all Khadro Ling areas." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Keep personal objects and value items with you or appropriately stored. Khadro Ling is not responsible for any lost object during events." %}</li>
            <li class="list-group-item list-group-item-light">{% trans "Do not feed the animals. Some of them get very sick from receiving food that are not part of their diet." %}</li>
            <li class="list-group-item list-group-item-secondary ">{% trans "Thrift shop: Khadro Ling has a thrift shop to raise funds for its projects. Donations in good condition are welcome." %}</li>
            <!-- <li class="list-group-item list-group-item-light"></li>
            <li class="list-group-item list-group-item-warning "></li> -->
          </ul>
        </div>


        <div class="tab-pane fade" id="transportation" role="tabpanel" aria-labelledby="profile-tab">
          <h2 class="text-center section_title">{% trans "Transportation" %}</h2>
          <p class="text-center">
            {% trans "Event and accommodation rates do not include daily transport/transfer fees." %}<br>
            {% trans "More information about transportation to the event will be posted closer to the event." %}
          </p>
        </div>

        <!-- INSCRIPTION -->
        <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="contact-tab">
          <h2 class="text-center section_title">{% trans "Registration form" %}</h2>
          <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="margin-bottom row justify-content-center">
              <div class=" col-md-9">
                <p class="text-center">{% trans "The registration form must be completed for each participant, including children of all ages." %}</p>
                <p class="text-center">{% trans "Be sure to submit the registration form after payment tab is complete." %}</p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-8">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Full name" %}</label>
                {{form.name}}
                <small id="nameHelp" class="form-text text-muted">{% trans "Without abbreviations" %}</small>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Date of birth: " %}</label>
                {{ form.birthday }}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Address" %}</label>
                {{form.adress}}
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Number" %}</label>
                {{form.adress_num}}
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Additional address info" %}</label>
                {{form.adress_comp}}
              </div>
              <div class="form-group col-md-2">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Zip code" %}</label>
                {{form.zip_code}}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "City" %}</label>
                {{form.city}}
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "State" %}</label>
                {{form.state}}
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Country" %}</label>
                {{form.country}}
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="formGroupExampleInput">E-mail</label>
                {{form.email}}
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Phone/Mobile" %}</label>
                {{form.phone}}
              </div>
            </div>
            <div class="row checkbox">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                <p>{% trans "Genre" %}:</p>
                {% for radio in form.gender %}
                  <div class="form-check-boxes">
                    {{radio.tag}}
                    <label class="form-check-label" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Previous empowerments received:" %}:</label>
                {{form.initiations}}
              </div>
              <div class="form-group col-md-6">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Empowerment bestowed by:" %}</label>
                {{form.initiations_lama}}
              </div>
            </div>
            <div class="row checkbox">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                <p>{% trans "Are you an ordained practitioner? (monastic or otherwise)" %}:</p>
                {% for radio in form.monastic_ordenation %}
                  <div class="form-check-boxes">
                    {{radio.tag}}
                    <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>

            <h3 class="form_section_title">{% trans "Food" %}</h3>
            <div class="row">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                <p>{% trans "Food preference" %}:</p>
                {% for radio in form.food_preferency %}
                  <div class="form-check-boxes">
                      {{radio.tag}}
                    <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <small id="phoneHelp" class="form-text text-muted">{% trans "Khadro Ling does not serve meals for special diets with ingredient restrictions." %}</small>

            <!-- ALERT FOR THE INALTERABILITY OF THE FOOD PREFERENCY AND SEAT -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-large" id="exampleModalLabel">{% trans "Please pay attention" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% trans "This option cannot be changed after the form submission." %}
                  </div>
                </div>
              </div>
            </div>

            <h3 class="form_section_title">{% trans "Sitting" %}</h3>
            <div class="row">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                <p>{% trans "Do you need a chair?" %}</p>
                {% for radio in form.seat %}
                  <div class="form-check-boxes">
                    {{radio.tag}}
                    <label class="form-check-label" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <small id="phoneHelp" class="form-text text-muted">{% trans "Only for people with limitations and unable sit on the floor." %}</small>

            <h3 class="form_section_title">{% trans "Accomodation" %}:</h3>
            <p>{% trans "Due to the size of this special event, Khadro Ling will not be able to provide onsite accomodations. Please, refer to the list of Hotels and B&B's available under the <a href='#' id='accomodation-link'>accomodations</a> tab." %}</p>

            <h3 class="form_section_title">{% trans "Event option" %}:</h3>
            <div class="row">
              <div class="custom-controls-stacked col-md-12">
                {% for radio in form.event_option %}
                  <div class="form-check-boxes">
                    {{radio.tag}}
                    <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
            </div>

            <div class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-large" id="exampleModalLabel">{% trans "Please pay attention" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% trans "Notify in the field 'Extra information' the name of the adult responsible that will be participating in the event." %}
                  </div>
                </div>
              </div>
            </div>

            <small id="phoneHelp" class="form-text text-muted margin-bottom-js">{% trans "Partial participation is not possible in this retreat. " %}</small>

            <div class="row">
              <div class="form-group col-md-8">
                <label class="col-form-label" for="formGroupExampleInput">{% trans "Extra information" %}:</label>
                {{form.observations}}
              </div>
            </div>
            <h3 class="form_section_title payment">{% trans "Payment" %}:</h3>

            {% if user_language == 'pt-br' %}

            <div class="row payment">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                <p>Forma de pagamento</p>
                {% for radio in form.payment %}
                  <div class="form-check-boxes">
                    {{radio.tag}}
                    <label class="form-check-label" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
              <small class="form-text text-muted padding"><p>O pagamento em cartão de crédito poderá ser parcelado em 12x sem juros.</p></small>
            </div>
            <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-large" id="exampleModalCenterTitle">LEMBRE-SE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="font-large">Você será <span class="underline">redirecionado</span> para outra aba para realizar o pagamento. Após o fim da transação, <span class="underline">volte</span> para a ficha de inscrição para o envio.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row payment_form">
              <div class="col-md-8 payment_section" id="payment1">
                <h4 class="font-weight-light">Pagamento via Cielo</h4>
                <p>Pague com seu cartão de crédito ou débito. O evento poderá ser parcelado em até 12x sem juros no cartão</p>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Nome do titular igual ao que está no cartão:</label>
                  {{form.credit_card_name}}
                </div>
                <button data-toggle="modal" data-target="#paymentModal" type="button" name="button">Efetuar pagamento</button>
              </div>
              <div class="col-md-8 payment_section" id="payment2">
                <h4 class="font-weight-light">Pagamento via Banco do Brasil:</h4>
                <p>Dados para depósito ou transferência:<br>
                  <a target="_blank" href="http://www.bb.com.br/pbb/pagina-inicial#/">Banco do Brasil</a><br>
                  Titular: Chagdud Gonpa Brasil<br>
                  CNPJ: 00.990.708/0001-37<br>
                  Agência: 1380-3<br>
                  Conta: 5454-2<br>
                </p>
                <p>
                  Para garantir a sua inscrição, você deve depositar, pelo menos, 1/4 (um quarto) do valor do evento (R$ 760,50 para adultos e
                  R$ 243,00 para crianças de 4 a 12 anos) e dividir o restante do pagamento até 10 de dezembro de 2018.
                </p>
                <p class="underline">DADOS DO PAGAMENTO:</p>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Data da transferência/depósito</label>
                  {{form.deposit_day}}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Nome do titular da conta</label>
                  {{form.deposit_name}}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Valor do depósito</label>
                  {{form.deposit_value}}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Número da agência</label>
                  {{form.deposit_agency}}
                </div>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Número da conta</label>
                  {{form.deposit_account}}
                </div>
                <p class="text-center">ou</p>
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">Número do envelope ou DOC </label>
                  {{form.deposit_envelop}}
                </div>
                <small id="phoneHelp" class="form-text text-muted margin-bottom-js">
                  Caso você efetue mais de um pagamento no mesmo depósito, por favor, informe no campo 'Observações'.
                </small>
              </div>
            </div>

            {% else %}
            <p>{% trans "For PayPal donation/payment, please use the following email address for payment receiver: <strong>adm@chagdud.org</strong>. Also, in comment field inform that payment is for Khadro Sangdu Drubchen." %}</p>
            <p class="underline">{% trans "Be sure to send the registration form after payment is completed." %}</p>
            <p>{% trans "If you are paying for someone else, please inform the name on 'Extra Information'." %}</p>
              {% for radio in form.payment_international %}
                <div class="form-check-boxes payment">
                  {{radio.tag}}
                  <label class="form-check-label " for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
                  <img class="logo-paypal" src="{% static 'images/paypal-logo.png' %}" alt="Paypal">
                </div>
              {% endfor %}
              <div class="col-md-8">
                <div class="form-group">
                  <label class="col-form-label" for="formGroupExampleInput">{% trans "Paypal username:" %}</label>
                  {{form.paypal_name}}
                </div>
              </div>
              <div class="modal fade" id="paypalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-large" id="exampleModalCenterTitle">{% trans "Please note:" %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>{% trans "A new tab will open for payment process. After the transaction is complete, return to registration page and submit form. Click on the image below." %}</p>
                      <a target="_blank" href="https://www.paypal.com/"><img class="logo-paypal" src="{% static 'images/paypal-logo.png' %}" alt="Paypal"></a>
                    </div>
                  </div>
                </div>
              </div>

            {% endif %}


            <div class="row cancel_terms_area">
              <div class="custom-controls-stacked col-md-12 checkbox-inline">
                {% for checkbox in form.cancel_terms %}
                  <div class="form-check-boxes">
                    {{checkbox.tag}}
                    <label class="form-check-label" for="checkbox{{ checkbox.index}}">{{ checkbox.choice_label }}</label>
                  </div>
                {% endfor %}

                <p class="cancel_terms">{% trans "I have read and I accept the <a target='_blank' href='http://www.ks-drubchen.com/cancellation-policy/'>cancellation policy of participation in Khadro Ling events.</a>" %}</p>
                <br>
                <small >{% trans "Before clicking send, make sure that all data is correctly filled in and that you have completed the payment." %}</small>
              </div>
            </div>

            <!-- <div class="g-recaptcha" data-sitekey="6LfZM2YUAAAAAAFnDJz-B_eevQVB_nWGk60IXSy9"></div> -->
            <!-- {{form.captcha}} -->

            <div class="btn-holder">
              <button type="submit" class="btn btn-outline-primary">{% trans "Send" %}</button>
            </div>
          </form>

          <!-- CIELO PAYMENT MODAL (REQUIREDLY OUTSIDE THE FORM) -->
          <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-large" id="exampleModalCenterTitle">Pagamento com Cielo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Clique na imagem a baixo e seja redirecionado para efetuar o pagamento.</p>
                  <div id="payment-adult">
                    <form method='post' action='https://cieloecommerce.cielo.com.br/transactionalvnext/order/buynow' target='blank'><input type='hidden' name='id' value='e5c8f945-a7d7-4035-9319-4df5faf62860' /><input type='image' name='submit' alt='Comprar' src='https://cieloecommerce.cielo.com.br/backoffice/Content/img/buttons/button-5-1.png' /></form>
                  </div>
                  <div id="payment-child">
                    <form method='post' action='https://cieloecommerce.cielo.com.br/transactionalvnext/order/buynow' target='blank'><input type='hidden' name='id' value='a92943fe-fdfc-4cc1-8750-bb9ad4acd820' /><input type='image' name='submit' alt='Comprar' src='https://cieloecommerce.cielo.com.br/backoffice/Content/img/buttons/button-5-1.png' /></form>
                  </div>
                  <p>Após enviar o pagamento, <span class="underline">lembre-se de enviar o formulário</span> de inscrição.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

    <!-- MAPS -->
  {% endblock %}
