<!DOCTYPE html>

{% extends "base.html"%}
  {% load static %}
  {% load i18n %}

  {% block extra-head %}
    <link rel="stylesheet" href="{% static 'css/pay-success.css' %}">
  {% endblock %}


  {% block body_block %}

  <p>{% trans "Your entry form for the event has been successfully sent. Khadro Ling Events department will contact you to confirm your registration." %}</p>

  <a href="{% url "index" %}">{% trans "Voltar" %}</a>




  <form>
    <div>
      <label for="diaa">Informe a data do seu aniversário:</label>
      <input type="date" id="bday" name="diaa" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
      <span class="validity"></span>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>

  {% endblock %}
