<!DOCTYPE html>

{% extends "base.html"%}
  {% load static %}
  {% load i18n %}

  {% block extra-head %}
    <link rel="stylesheet" href="{% static 'css/guest-form.css' %}">
  {% endblock %}

  {% block body_block %}
  <h2 class="text-center section_title">{% trans "Sponsored inscription form" %}</h2>
  <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="margin-bottom row justify-content-center">
      <div class=" col-md-9">
        <p class="text-center">{% trans "The registration form must be completed for each participant, including children of all ages." %}</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Full name" %}</label>
        {{form.name}}
        <small id="nameHelp" class="form-text text-muted">{% trans "Without abbreviations" %}</small>
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Date of birth: " %}</label>
        {{ form.birthday }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Address" %}</label>
        {{form.adress}}
      </div>
      <div class="form-group col-md-2">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Number" %}</label>
        {{form.adress_num}}
      </div>
      <div class="form-group col-md-2">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Additional address info" %}</label>
        {{form.adress_comp}}
      </div>
      <div class="form-group col-md-2">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Zip code" %}</label>
        {{form.zip_code}}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "City" %}</label>
        {{form.city}}
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "State" %}</label>
        {{form.state}}
      </div>
      <div class="form-group col-md-4">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Country" %}</label>
        {{form.country}}
      </div>

    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label" for="formGroupExampleInput">E-mail</label>
        {{form.email}}
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Phone/Mobile" %}</label>
        {{form.phone}}
      </div>
    </div>
    <div class="row checkbox">
      <div class="custom-controls-stacked col-md-12 checkbox-inline">
        <p>{% trans "Genre" %}:</p>
        {% for radio in form.gender %}
          <div class="form-check-boxes">
            {{radio.tag}}
            <label class="form-check-label" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Previous empowerments received:" %}</label>
        {{form.initiations}}
      </div>
      <div class="form-group col-md-6">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Empowerment bestowed by:" %}</label>
        {{form.initiations_lama}}
      </div>
    </div>
    <div class="row checkbox">
      <div class="custom-controls-stacked col-md-12 checkbox-inline">
        <p>{% trans "Are you an ordained practitioner? (monastic or otherwise)" %}:</p>
        {% for radio in form.monastic_ordenation %}
          <div class="form-check-boxes">
            {{radio.tag}}
            <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <h3 class="form_section_title">{% trans "Food" %}</h3>
    <div class="row">
      <div class="custom-controls-stacked col-md-12 checkbox-inline">
        <p>{% trans "Food preference" %}:</p>
        {% for radio in form.food_preferency %}
          <div class="form-check-boxes">
              {{radio.tag}}
            <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <small id="phoneHelp" class="form-text text-muted">{% trans "Khadro Ling does not serve meals for special diets with ingredient restrictions." %}</small>

    <!-- ALERT FOR THE INALTERABILITY OF THE FOOD PREFERENCY AND SEAT -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-large" id="exampleModalLabel">{% trans "Please pay attention" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% trans "This option cannot be changed after the form submission." %}
          </div>
        </div>
      </div>
    </div>

    <h3 class="form_section_title">{% trans "Sitting" %}</h3>
    <div class="row">
      <div class="custom-controls-stacked col-md-12 checkbox-inline">
        <p>{% trans "Do you need a chair?" %}</p>
        {% for radio in form.seat %}
          <div class="form-check-boxes">
            {{radio.tag}}
            <label class="form-check-label" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <small id="phoneHelp" class="form-text text-muted">{% trans "Only for people with limitations and unable sit on the floor." %}</small>

    <h3 class="form_section_title">{% trans "Event option" %}:</h3>
    <div class="row">
      <div class="custom-controls-stacked col-md-12">
        {% for radio in form.event_option %}
          <div class="form-check-boxes">
            {{radio.tag}}
            <label class="form-check-label inline" for="radio_{{ radio.index}}">{{ radio.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-large" id="exampleModalLabel">{% trans "Please pay attention" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% trans "Notify in the field 'Extra information' the name of the adult responsible that will be participating in the event." %}
          </div>
        </div>
      </div>
    </div>

    <small id="phoneHelp" class="form-text text-muted margin-bottom-js">{% trans "Partial participation is not possible in this retreat. " %}</small>

    <div class="row">
      <div class="form-group col-md-8">
        <label class="col-form-label" for="formGroupExampleInput">{% trans "Extra information" %}:</label>
        {{form.observations}}
      </div>
    </div>
    <h3 class="form_section_title payment">{% trans "Payment" %}:</h3>





    <div class="btn-holder">
      <button type="submit" class="btn btn-outline-primary">{% trans "Send" %}</button>
    </div>
  </form>

  <!-- CIELO PAYMENT MODAL (REQUIREDLY OUTSIDE THE FORM) -->
  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-large" id="exampleModalCenterTitle">Pagamento com Cielo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Clique na imagem a baixo e seja redirecionado para efetuar o pagamento.</p>
          <div id="payment-adult">
            <form method='post' action='https://cieloecommerce.cielo.com.br/transactionalvnext/order/buynow' target='blank'><input type='hidden' name='id' value='e32e7f40-98ca-479a-a03b-269421c08bca' /><input type='image' name='submit' alt='Comprar' src='https://cieloecommerce.cielo.com.br/backoffice/Content/img/buttons/button-5-1.png' /></form>
          </div>
          <div id="payment-child">
            <form method='post' action='https://cieloecommerce.cielo.com.br/transactionalvnext/order/buynow' target='blank'><input type='hidden' name='id' value='bea0cb35-e4f1-4211-bfa7-578d0822c6f5' /><input type='image' name='submit' alt='Comprar' src='https://cieloecommerce.cielo.com.br/backoffice/Content/img/buttons/button-5-1.png' /></form>
          </div>
          <p>Após enviar o pagamento, <span class="underline">lembre-se de enviar o formulário</span> de inscrição.</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

  {% endblock %}
